.controls #ip {width:500px;}

#page-container {width: 100%; float: left; display: inline;}
#page-container .table-info {width: 30%;min-width: 150px; float: left; display: inline;}
#page-container #history-panel {width: 70%; min-width: 300px; float: left; display: inline;}

#sidebar-container {
	display: inline;
	float: left;
	position: absolute;
	top:55px;
	right: 10px;
}

#sidebar-container .nav-list li{
	display: inline;
	float: left;
	margin-left: 10px;
}

.offline, .online {
	width:12%;
	min-width:160px;
}

.offline h2, .online h2{
	height:16px;
	line-height:16px;
	overflow:hidden;
}

.entity {
	margin:3px;
}

td.sla {
	width:15%;
	text-align: center;
}
td.sla li{
	list-style: none;
	display: inline;
	width:50px;
	margin-right: 10px
}

td.sla .sla10 {
	background: #53a000 !important;
    color: #d8f7ce;
}

td.sla .sla5, .sla6, .sla7, .sla8, .sla9 {
	background: #FAA732;
    color: #F3F3B1;
}

td.sla .sla0, .sla1, .sla2, .sla3, .sla4{
	background: #a00000 !important;
    color: #f7cece;
}